{% extends 'base.html' %}

{% block header %}
<div class="top_header">
    <h1>Information Retrieval with various methods</h1>
</div>

{% endblock %}
{% block body %}

<h3 class="text_center">Information Retrieval in RDF-Data Survey</h3>

<!-- What and how -->
<div class="about_text_container">
    <p>This survey aims to compare 3 different search methods on two datasets of RDF-data.</p>
    <p>You will be presented with a query and the information need/intent behind the query. 
        Your task is to rate how relevant you pervieve each result given to be compared to the given query and intent.</p>
    <p>Each result should be ranked with a score on a scale of 0-3 where 0 is not relevant and 3 is relevant.
        Each result has to be given a rating before you can submit the answer.
    </p>

    <p><i>ADD SIMPLE EXAMPLE ??</i></p>

    <p>The survey consists of <b>X</b> queries divided on two datasets. 
        Each query is represented by a maximum of 10 results.
        You can at any time take a break and come back to the survey at a later point if you wish to do so. All completed queries help.
        The estimated time for completion is <b>X</b>min, but the time used may vary.
    </p>

    <p>We will not keep any information about who is completing the survey. 
        We do not wish to test you, we only aim to assess the methods used.</p>

    <h4>hei</h4>
    <p>hei</p>
</div>

<div class="text_center border background button_box">
    <p>You can go back to this page whenever you want by clicking the 'about' button on the top of the page.</p>
    <form action="/home" method="post" valign="value">
        <input class="button_small button" type="submit" value="Lets begin!" />
    </form>
</div>

{% endblock %}
