<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
    <title>RDF-IR</title>
</head>
<body>
    <div class="header">
        {% block header %}{% endblock %} 
    </div>
    <div class="container">
        <a href="/" class="header_menu" id="first">
            <div>Home</div>
        </a>
        <div>   -   </div>
        <a href="/searchbar" class="header_menu" id="second">
            <div>Searchbar</div>
        </a>
    </div>
   {% block body %}{% endblock %} 
</body>
</html>
