{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<div class="header">
    <h1>Thank you for participating!</h1>
</div>
<h3>Query keywords: {{query[1]}}. Query description: {{query[2]}} </h3>


{% for result in query_result %} 
<div> 
    <h3> {{result.name}} </h3> 
    <p>{{result.description}}<p>
    <p>{{result.altNames}} <p>
    <p>{{result.score}} </p>
</div>
{% endfor %} 

<form action="/handleForm/?queryId={{query[0]}}" method="post" novalidate>
    {% for result in query_result %}
    <p>
        <input type='radio' value="0" name='{{loop.index0}}'>0 - not relevant</input>
        <input type='radio' value="1" name='{{loop.index0}}'>1 - somewhat irrelevant</input>
        <input type='radio' value="2" name='{{loop.index0}}'>2 - somewhat relevant</input>
        <input type='radio' value="3" name='{{loop.index0}}'>3 - relevant</input>
        <!--{{ result.name }}
        {{ form.score }}-->
    </p>
    {% endfor %}
<!--Mulig dette ikke fungerer med submit på denne måten... må testes og greier-->
<!--{{ form.submit }}-->
<input type="submit"/>
</form>
{% endblock %}
