{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<div class="header">
    <h3>Query keywords: {{query[1]}}</h3>
    <h3>Query description: {{query[2]}}</h3>
</div>

<div class="expl">
    <p>Rate each result given from 0-3 based on its relevance to the query keyword and its described information need.</p>
    <p>Submit the ratings once all results have been evaluated.</p>
</div>

<form class="container" action="/handleForm?queryId={{query[0]}}" method="post" novalidate>
    {% for result in query_result %} 
        <div class="qr"> 
            <h3>{{result.name}}</h3> 
            <p>{{result.description}}<p>
            <p>{{result.altNames}} <p>
            <p>{{result.score}} </p>
        </div>
        <fieldset class="f">
            <input type='radio' value="0" name='{{loop.index0}}' required>0 - not relevant</input>
            <input type='radio' value="1" name='{{loop.index0}}' >1 - somewhat irrelevant</input>
            <input type='radio' value="2" name='{{loop.index0}}' >2 - somewhat relevant</input>
            <input type='radio' value="3" name='{{loop.index0}}' >3 - relevant</input>
        </fieldset>
    {% endfor %} 
    <input class ="submit" type="submit"/>
</form>
{% endblock %}
