{% extends 'base.html' %}

{% block header %}
<div class="top_header">
    <h1>Information Retrieval with various methods</h1>
</div>

{% endblock %}
{% block body %}

<h3 class="text_center">Information Retrieval in RDF-Data Survey</h3>
    
<p class="text_center">In this survey you will rank query result between 0-3. </p>
    
<div class="index_container">
    {% if disease_queries %}

    <div id="survey_start" class="background">
        <p>In this survey you will rank relevant diseases and symptoms to a given query</p>
        <form action="/handleQuery?dataset=disease" method="post">
            <input class="button_small button" type="submit" value="Disease dataset" />
        </form>
    </div>
    {% endif %}
    {% if movie_queries %}
    <div id="survey_start" class="background">
        <p>In this survey you will rank relevant movies and directors to a given query</p>
        <form action="/handleQuery?dataset=movie" method="post" valign="value">
            <input class="button_small button" type="submit" value="Movie dataset" />
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
