{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
<h1>Search for diseases</h1>
<form role="search" id="search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<form role="search" id="searchTest">
    <input type="text" placeholder="Search.." name="searchTest">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="grid-container">
    <div id="disease-data">
        <p id="data-para">No data</p>
    </div>
    <div id="symptom-data">
        <h3>Symptoms</h3>
        <div id="symptom-text">No symptoms</div>
        <h3>Drugs</h3>
        <div id="drug-text">No drugs</div>
    </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        function showSymptom(disease) {
            $("#symptom-text").empty()
            $.get("symptom?d=" + encodeURIComponent(disease), 
            function (data) {
                if(!data) return
                let symp = []
                data.forEach(function (symptom) {
                    symp.push(symptom.name)
                })
                $("#symptom-text").append('<p>' + symp.join(', ') + '</p>');
            }, "json");
            return false
        }

        function showDrug(disease){
            $("#drug-text").empty()
            $.get("drug?d=" + encodeURIComponent(disease), 
            function (data) {
                if(!data) return
                let dr = []
                data.forEach(function (drug) {
                    dr.push(drug.name)
                })
                $("#drug-text").append('<p>' + dr.join(', ') + '</p>');
            }, "json");
            return false
        }

        function test_search(){
            var query=$("#searchTest").find("input[name=searchTest]").val();
            console.log(query);
            $.get("/test?q=" + encodeURIComponent(query),
            function (data) {
                console.log(data);
                if(!data) return;
                $("#disease-data").empty();
                data.forEach(function (disease) {
                    $('<div> <h3> hei </h3> </div>').appendTo("#disease-data");
                });
            }, "json");
            return false;
        }
        $("#searchTest").submit(test_search);
        test_search();

        function search() {
            var query=$("#search").find("input[name=search]").val();
            $.get("/search?q=" + encodeURIComponent(query),
            function (data) {
                console.log(data);
                if(!data) return;
                //var $list = $("#data").empty();       
                //data.forEach(function (disease) {
                //            $list.append($("<li style='list-style-type: none'>" + "<b> Name: </b>" + disease.name + " <b> Description: </b>" + disease.description + " " + '<b> alias: </b>' + disease.altNames +"</li>"));
                //        });
                $("#disease-data").empty();
                $("#symptom-text").empty();
                $("#drug-text").empty();
                data.forEach(function (disease) {
                    $('<div> <h3>'+disease.name + '</h3>'+ '<p>'+disease.description +'<p>'+'<p>'+disease.altNames +'<p>'+ '<p>' + disease.score + '</p>' +'</div>').appendTo("#disease-data")
                            .click(function() { showSymptom(disease.name), showDrug(disease.name)});
                });
            }, "json");
            return false;
        }
        $("#search").submit(search);
        search();
    })
</script>
{% endblock %} 
