{% extends 'base.html' %}

{% block body %}

<div class="header">
    <h1>Information Retrieval with various methods</h1>
</div>

<h3>Queries</h3>
<p>
    blabla
</p>

<h3>Scoring of relevance</h3>
<p>
    blabla
</p>

<form action="/handleQuery?dataset=disease" method="post">
    <input class="submit" type="submit" value="Disease dataset" />
</form>
<form action="/handleQuery?dataset=movie" method="post">
    <input class="submit" type="submit" value="Movie dataset" />
</form>


{% endblock %}
