{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block header %}
<div class="header">
    <h3>Query keywords: {{query}}</h3>
    <h3>Query description: {{query_description}}</h3>
    <h3>{{method}}</h3>
</div>
{% endblock %}


{% block body %}
<div class="expl">
    <p>Rate each result given from 0-3 based on its relevance to the query keyword and its described information need.</p>
    <p>Submit the ratings once all results have been evaluated.</p>
</div>

<!--TODO: remove novalidate before release :)-->
<form class="container" action="/handleForm?query_id={{query_id}}&method={{method}}" method="post" novalidate>
    {% for result in query_result %} 
        <div class="qr"> 
            <h3>{{result.name}}</h3> 
            <p>{{result.description}}<p>
            <p>{{result.altNames}} <p>
            <p>{{result.score}} </p>
        </div>
        <fieldset class="f">
            <label><input type='radio' value="0" name='{{loop.index0}}' required/>0 - not relevant</label>
            <label><input type='radio' value="1" name='{{loop.index0}}' required/>1 - somewhat irrelevant</label>
            <label><input type='radio' value="2" name='{{loop.index0}}' required/>2 - somewhat relevant</label>
            <label><input type='radio' value="3" name='{{loop.index0}}' required/>3 - relevant</label>
        </fieldset>
    {% endfor %} 
    <input class ="submit" type="submit"/>
</form>
{% endblock %}
