{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block header %}
<div class="top_header">
   <h3>{{method}} - {{dataset}}-dataset</h3>
   <h3></h3>
</div>
{% endblock %}
{% block body %}
<div class="under_header">
   <div>
      <h3>Query keywords: {{query}}</h3>
   </div>
   <div>
      <h3>Description: {{query_description}}</h3>
   </div>
</div>
<div class="progressbar text_center">
   <p><b>Method:</b> {{index+1}} / 3 </p>
   <p><b>Query:</b> {{query_index+1}} / {{query_length}}</p>
</div>
<!--TODO: remove novalidate before release :)-->
<form class="padding form_padding" action="/handleForm?query_id={{query_id}}&method={{method}}&dataset={{dataset}}" method="post" novalidate>
   {% for result in query_result %} 
   <div class="container background border wrapper">
      <div class="a">
         <h3>{{result.name}}</h3>
         <p><i>Description:</i> {{result.description}}
         <p>
      </div>
      <div class="b">
         <button type="button" class="collapsible">Show alternative names and aliases</button>
         <p class="content">{{result.altNames}}</p>
      </div>
      <div class="c">
         <fieldset class="f">
            <label><input type='radio' value="3" name='{{loop.index0}}' required/>3 - relevant</label>
            <label><input type='radio' value="2" name='{{loop.index0}}' required/>2 - somewhat relevant</label>
            <label><input type='radio' value="1" name='{{loop.index0}}' required/>1 - marginally relevant</label>
            <label><input type='radio' value="0" name='{{loop.index0}}' required/>0 - not relevant</label>
         </fieldset>
      </div>
   </div>
   {% endfor %} 
   <div class="submit_container">
      <input class ="button button_big" type="submit"/>
   </div>
</form>
<script type="text/javascript" src="../static/js/collapsible.js"> </script>
{% endblock %}
