* {box-sizing: border-box;}

.top_header {
  padding: 10px;
  text-align: center;
  background: #0185b1;
  color: white;
  font-size: 20px;
  opacity:0.9;
}

.under_header {
    color: #000000;
    font-size: 20px;
    padding: 1px;
    text-align: center;
}

.under_header > div{
    vertical-align: top;
    display: inline-block;
    margin-left: 5%;
}

.progressbar > p{
    vertical-align: top;
    display: inline-block;
    margin-left: 5%;
}

.progressbar{
    margin-top: -20px;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

body {
    margin: 0;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}

#searchForm{
    padding-left: 20px;
    padding-top: 10px;
}

.grid-container {
    display: grid;
    padding: 20px;
    column-gap: 50px;
    grid-template-columns: 800px 500px;
}

#disease-data > div {
    padding: 5px 10px 5px 10px;
}

.expl{
    text-align: center;
    padding: 0 35% 0 35% ;
    font-size: 15px;
}

/*
    Alignment on 'home' page
*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.background {
    background-color: rgb(255, 255, 255);
}


.qr{
    float:left;
    width: 70%;
    padding-left: 10px;
    line-height: 90%;
}

p{
    margin-bottom: 0;
    margin-top: 10px;
}

.f{
    float: right;
    width: 80%;
}

.text_center {
    text-align: center;
}

.index_container {
    width:100%;
    display: flex;
    justify-content: center;
}

.button_box{
    margin: auto;
    width: 50em;
    padding-bottom: 0.5em;
}

.index_container > div {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    margin: 50px;
}

.information_title{
    margin-bottom: 0;
}

.index_container input {
    margin: 0 auto;
    display: block;
}

.about_text_container{
padding-bottom: 20px;
    text-align: left;
    margin: auto;
    width: 50%;
}

/*
    Form styling
*/

.form_padding{
    padding-left: 5%;
    padding-right: 5%;
}

.border {
    border-style: solid;
    border-width: 2px;
    border-color: #2abbec96;    
}

fieldset{
    align-self: center;
    display: inline-block;
    line-height: 1;
    border-width: 0;
}

.submit_container{
    text-align: center;
}

.button{
    background-color: #0099CC; /* Blue background color */
    border-radius: 5px; /* Curve of border corners */
    border-style: none;
    font-weight: bold;
    color: white; /* Text color */
    margin-top: 5px;
}

.button_mini{
    padding: 3px 3px;
}

.button_small{
    padding: 15px 15px; 
    font-size: medium;
}

.button_big{
    padding: 15px 64px;
    font-size: large;
}

/* input {
    width:320px;
    height: 30px;
    border-color: #0099CC;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
} */

input[type=radio]{
    border: 0px;
    width: 20%;
    height: 23px;
    vertical-align:sub;
}

.header_menu {
    text-decoration: underline;
}

label {
    display: block;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: rgb(158, 158, 158);
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.wrapper {
    display: grid;
    grid-template-columns: 3% 30% 30% 30% 5%;
    background-color: #fff;
    color: #444;
  }

.a {
    grid-column: 2 / 4;
    grid-row: 1;
}

.b {
    grid-column: 2 / 4;
    grid-row: 2;
}

.c {
    grid-column: 4 ;
    grid-row: 1 / 3;
}
